# ----------------------------------------------------------------------------------
#
# Configuration file for the 'eu-grid-frequency-scraper' v1.0
#
# ----------------------------------------------------------------------------------


# ==================================================================================
# NTFY specifications
# ==================================================================================
#
#ENABLE_NTFY=false
#
# Required when `ENABLE_NTFY` is true.
#NTFY_TOPIC_URL=""
#
# Required when `ENABLE_NTFY` is true.
#NTFY_AUTH_TOKEN=""
#
#MIN_HZ_ALERT_THRESHOLD=49.95
#
#MAX_HZ_ALERT_THRESHOLD=50.05


# ==================================================================================
# API specifications
# ==================================================================================
#
NETZFREQUENZ_DE_API_URL="https://dat.netzfrequenzmessung.de:9080/frequenz.xml"


# ==================================================================================
# HTTP-requests specifications
# ==================================================================================
#
# HTTP-request timeout in seconds
#HTTP_REQUEST_TIMEOUT=10